useDynLib(aftsem, .registration=TRUE)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
export(aftsem)
S3method(print, aftsem)
S3method(print,summaryaftsem)
S3method(summary, aftsem)
importFrom(survival, Surv)
importFrom(stats, lm, model.response, formula, model.extract,printCoefmat, na.omit, na.fail, rexp, sd, pnorm)
importFrom(quantreg,rq)
importFrom(optimx, optimx)
importFrom(stats, model.matrix)
